### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
# 移除对src目录的忽略，确保src中的所有文件都被跟踪
# **/src/**

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/.idea

*.pyd
*.pyc
__pycache__/
.pytest_cache/

python.exe.ddslog