### IntelliJ IDEA ###
# 忽略所有.idea目录及其内容
**/.idea/
**/.idea/**
.idea/
.idea/**
out/
!**/src/main/**/out/
!**/src/test/**/out/

# 移除对src目录的忽略，确保src中的所有文件都被跟踪
# **/src/**

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### 日志文件 ###
*.ddslog
logs/

### 库文件 ###
lib/
!**/src/main/**/lib/
!**/src/test/**/lib/

### 其他 ###
*.pyd
*.pyc
__pycache__/
.pytest_cache/